.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:aliceblue;
    padding: 10px;
}

.grid-item {
    background-color: cornflowerblue;
    border: 2px solid rgb(255 255 255);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

a {
    text-decoration:none;
    color:#ffffff;
}