<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="header">TSDN</div>
    <div class="grid-container">
        <div class="grid-item">
        	<a href="http://localhost:8081/distribute">Distribute</a>
        </div>
        <div class="grid-item">
        	<a href="http://localhost:8081/decode">Decode Doc</a>
        </div>
        <div class="grid-item">
        	<a href="">test</a>
        </div>
        <div class="grid-item">
        	<a href="">empty</a>
        </div>
        <div class="grid-item">
        	<a href="">empty</a>
        </div>
        <div class="grid-item">
        	<a href="">empty</a>
        </div>
        <div class="grid-item">
        	<a href="">empty</a>
        </div>
        <div class="grid-item">
        	<a href="">empty</a>
        </div>
        <div class="grid-item">
        	<a href="">empty</a>
        </div>

    </div>
    <div id="footer"></div>

</body>
</html>